<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
  <div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">  

  <div class="container">
      <div class="row">
          <div class="span12">
                <div class="slider-text">
                    
                </div>
            </div>
        </div>
    </div>   
  
  <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#blog"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
          <a id="goUp" href="#home-slider" title="Chakra | Responsive One Page Template">Chakra Template</a>
        </div>
        
        <nav id="menu">
          <ul id="menu-nav">
              <li><a href="/#home-slider" class="external">首页</a></li>
                <li><a href="/#work" class="external">我们的产品</a></li>
                <li><a href="/#about" class="external">品牌介绍</a></li>
                <li><a href="/#services" class="external">服务</a></li>
                <li><a href="/arts">技术</a></li>
                <li><a href="/mengs" class="external">加盟</a></li>
                <li><a href="/#contact" class="external">预约</a></li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->



<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
      <div style="padding-top:10%; text-align:center ">
        <p class="text-error">预约信息填写有误请重新输入</p>
        <p>
          <a href="/#contact" class="external">重新填写预约信息</a>  
      </div>
    <!-- Contact Form -->
    
</div>
</div>
<!-- End Contact Section -->

<!-- Footer -->
<footer>
 <p class="credits">&copy;2013 Chakra.北京三缔时代科技发展有限责任公司</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> <!-- Google Map API -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->
