<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="#">三缔时代科技发展有限责任公司--后台管理系统</a>
    <ul class="nav">
      <li ><%= link_to '退出登录', destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
</div>